pipeline/pl_ftp_dl_oee.json
{
	"name": "pl_ftp_dl_oee",
	"properties": {
		"activities": [
			{
				"name": "Metadata_Plant_Master_Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ftp_oee_filelist",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "Plant_Master_Data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"useBinaryTransfer": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Plant_Master_Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_Plant_Master_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_Plant_Master_Data').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_Plant_Master_Data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": false,
													"useBinaryTransfer": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_ftp_oee_csv",
												"type": "DatasetReference",
												"parameters": {
													"FileName": "@item().name",
													"FilePath": "Plant_Master_Data"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_dl_plant_master_data",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Metadata_OEE_Data_Kode",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ftp_oee_filelist",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "OEE_Data_Kode"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"useBinaryTransfer": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_OEE_Data_Kode",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_OEE_Data_Kode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_OEE_Data_Kode').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "if condition",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_OEE_Data_Kode_copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": false,
													"useBinaryTransfer": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_ftp_oee_csv",
												"type": "DatasetReference",
												"parameters": {
													"FileName": "@item().name",
													"FilePath": "OEE_Data_Kode"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_dl_oee_data_kode",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Metadata_Production_Data_Cognos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ftp_oee_filelist",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "Production_Data_Cognos"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"useBinaryTransfer": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Production_Data_Cognos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_Production_Data_Cognos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_Production_Data_Cognos').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_Production_Data_Cognos",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": false,
													"useBinaryTransfer": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_ftp_oee_csv",
												"type": "DatasetReference",
												"parameters": {
													"FileName": "@item().name",
													"FilePath": "Production_Data_Cognos"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_dl_oee_production_dataset_cognos",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Metadata_production_budget",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ftp_oee_filelist",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "Production_Budget"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"useBinaryTransfer": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Production_Budget",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_production_budget",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_production_budget').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition3",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_production_budget",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": false,
													"useBinaryTransfer": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_ftp_oee_csv",
												"type": "DatasetReference",
												"parameters": {
													"FileName": "@item().name",
													"FilePath": "Production_Budget"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_dl_oee_production_budget",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Metadata_HS_Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ftp_oee_filelist",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "HS_Data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"useBinaryTransfer": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_HS_Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_HS_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_HS_Data').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition_HS",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'xlsx')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_HS_Data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": false,
													"useBinaryTransfer": true
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_ftp_oee",
												"type": "DatasetReference",
												"parameters": {
													"FileName": "@item().name",
													"FilePath": "HS_Data"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_dl_oee_hs_dataset",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Metadata_Quality_Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ftp_oee_filelist",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "Quality_Data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"useBinaryTransfer": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Quality_data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_Quality_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_Quality_Data').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition_Quality",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@endswith(item().name,'xlsx')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_Quality_data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": false,
													"useBinaryTransfer": true
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_ftp_oee",
												"type": "DatasetReference",
												"parameters": {
													"FileName": "@item().name",
													"FilePath": "Quality_Data"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_dl_oee_quality_dataset",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "pl_ftp_dl/pl_ftp_dl_oee"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}